.logout {
	color: grey;
	font-weight: bold;
	font-size: 18px;
}
.ui.menu {
	border-left: none;
	border-right: none;
}
.ui.menu.five.item .item {
	width: 15%;
}
.ui.card {
	width: 35%;
	margin: auto;
	margin-bottom: 10px;
}
.main {
	margin: auto;
}

@media only screen and (max-width: 1350px) {
   .ui.card {
	width: 50%;
	margin: auto;
	margin-bottom: 10px;

    }
}
@media only screen and (max-width: 650px) {
   .ui.card {
	width: 70%;
	margin: auto;
	margin-bottom: 10px;

    }
.logout {
	font-size: 15px;
	}

}

.ui.three.stackable.cards {
	width: 70%;
	margin: auto;
}